html, body
{
	height:100%;
	vertical-align:top;	
}

.left
{
	position:absolute;
	top:0;
	left:0;
	width:250px;
	height:100%;
	background:#444;	
}

.left ul.nav
{
	margin-top:85px;
	border-top:#aaa 1px solid;		
}


.left ul.nav li
{
	border-bottom:#aaa 1px solid;	
}

.left ul.nav li a
{
	color:#ddd;
	font-weight:bold;	
}
.left ul.nav li a:hover
{
	color:#444;	
}

.main
{
	margin-left:250px;	
	overflow-y:scroll;
	height:100%;
}

.top
{
	border-bottom:#444 1px solid;	
	height:85px;	
}

.top .options
{
}

.fp
{
	padding-top:150px !important;	
}
.page
{
	padding:20px 10px;	
}

.page .title
{
	text-align:center;
	margin:30px 0px;
	font-size:36px;	
}

.page .content
{
	padding:10px;	
}
.page::after
{
	clear:both;	
}


.cc_title
{
	font-wight:bold;
	font-size:24px;
	margin:15px 0px;	
}
.cc_content
{
	margin-bottom:15px;	
}
.cc_content img
{
	max-width:80%;
	display:block;
	margin:10px auto;	
}
.cc_files a
{
	display:block;
	color:#444;
		
}
.cc_error
{
	margin:10px 0px;
	color:#900;	
}

.new_content_form, .new_invoice_form, .new_recipes_form, .new_referral_form
{
	display:none;	
}

.rec-item
{
	margin:10px;
	padding:10px;
	background:rgba(70, 135, 0, 0.2);	
}

.ref-item
{
	margin:10px;
	padding:10px;
	background:rgba(0, 144, 255, 0.2);	
}